.inspiration{
    padding:40px 48px;
    border-top:1px solid #dddddd;
    background:#f7f7f7;
}

.inspiration h2{
    font-size:22px;
    font-weight:600;
    color:#222;
    margin:0 0 24px 0;
}

.tabs{
    display:flex;
    gap:28px;
    margin-top:25px;
    border-bottom:1px solid #dddddd;
    padding-bottom:14px;
    overflow-x:auto;
}

.tabs span{
    color:#6A6A6A;
    cursor:pointer;
    white-space:nowrap;
    font-size:15px;
}

.tabs .active{
    color:#222;
    font-weight:600;
    border-bottom:2px solid black;
    padding-bottom:14px;
}

.places-grid{

    display:grid;

    grid-template-columns:repeat(6,1fr);

    gap:40px;

    margin-top:35px;

}

.places-grid h4{
    margin-bottom:4px;
    font-size:16px;
    color:#222;
}

.places-grid p{
    color:#6A6A6A;
    font-size:15px;
}