*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.navbar{

    height:80px;

    display:flex;

    align-items:center;

    justify-content:space-between;

    padding:0 20px;

}

.navbar-center{

    display:flex;

    gap:30px;

   

}


.navbar-right{

    display:flex;

    align-items:center;

    gap:15px;

}

.navbar-right button{
  width:35px;
    height:35px;
    border:none;

    background:rgb(243, 241, 241);

    font-size:18px;

    cursor:pointer;
         

      border-radius:50%; 
}

.navbar-left{
display:flex;
  align-items:center;
    font-size:24px;

    font-weight:bold;

    color:#ff385c;
    
    margin-bottom: 10 px;
      gap:1px;
}



.navbar-left img{
    width:50px;
    cursor:pointer;

    
}



.Category{

    display:flex;

    align-items:center;

    gap:7px;

    cursor:pointer;
    
    text-decoration: none;
color: inherit;

}

.active{
    font-weight:600;
    border-bottom:2px solid black;
    padding-bottom:8px;
}

.Category img{

    width:35px;

    height:55px;

    object-fit:contain;

}


.Category p{

    margin:0;

    font-size:14px;

}


